<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<button id="google"
              onclick="location.href='/oauth2/authorization/google'"
              class="w-100 py-2 mb-2 rounded"  type="button">
    <img src="/image/google.png" alt="Google Login" width="40" height="40">
</button>
<button id="naver"
        onclick="location.href='/oauth2/authorization/naver'"
        class="w-100 py-2 mb-2 rounded"  type="button">
    <img src="/image/naver.png" alt="Google Login" width="40" height="40">
</button>
<button id="kakao"
        onclick="location.href='/oauth2/authorization/kakao'"
        class="w-100 py-2 mb-2 rounded"  type="button">
    <img src="/image/kakao.png" alt="Google Login" width="40" height="40">
</button>
</body>
</html>